@model IEnumerable<LojaJaguar.Models.Peca>

@{
    ViewData["Title"] = "Index";
}
<h1>Relação de Peças</h1>


<p>
    <a asp-action="Create">Create </a>
</p>

<form class="form-horizontal" asp-action="Pesquisa">
    @using (Html.BeginForm())
    {
        <p>
            Buscar: @Html.TextBox("name")
            <input type="submit" value="Filtrar" />
        </p>
    }
</form>


@*<div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" asp-action="Pesquisa">
                <fieldset>
                    <legend>Buscar</legend>
                    <div class="form-group">
                        <label for="busca" class="col-lg-2 control-label">Peça</label>
                        <div class="col-lg-10">
                            <input type="search" name="busca" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Galpao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Galpao.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhe</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a> |
                    <a asp-action="Venda" asp-route-id="@item.Id">Vender</a>
                </td>
            </tr>
        }
    </tbody>
</table>
