@model IEnumerable<LojaJaguar.Models.Peca>

@{
    ViewData["Title"] = "Relação de peças";
}
<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create">Adicionar nova peça </a>
</p>

<form class="form-horizontal" asp-action="Pesquisa">
    @using (Html.BeginForm())
    {
        <p>
            Buscar: @Html.TextBox("name")
            <input type="submit" value="Filtrar" />
        </p>
    }
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Galpao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Galpao.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a> |
                    <a asp-action="Movimentacao" asp-route-id="@item.Id">Vender</a>
                </td>
            </tr>
        }
    </tbody>
</table>
