@model IEnumerable<LojaJaguar.Models.Peca>

@{
    ViewData["Title"] = "Buscar";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm())
{
    <p>
        Buscar: @Html.TextBox("name")
        <input type="submit" value="Filtrar" />
    </p>
}

@*<div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" asp-action="Pesquisa">
                <fieldset>
                    <div class="form-group">
                        <label for="minDate" class="col-lg-2 control-label">Peças</label>
                        <div class="col-lg-10">
                            <input type="search" name="busca" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>*@
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carro.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carro.Ano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Galpao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carro.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carro.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Galpao.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhe</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a> |
                            <a asp-action="Venda" asp-route-id="@item.Id">Vender</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>